<div id="content" class="mw-body" role="main">
    <a id="top"></a>

    <div id="siteNotice">
        <div id="centralNotice"></div>
        <!-- CentralNotice -->
    </div>
    <div class="mw-indicators">
    </div>
    <h1 id="firstHeading" class="firstHeading" lang="en">Kummari caste</h1>
    <div id="bodyContent" class="mw-body-content">
        <div id="siteSub">From Wikipedia, the free encyclopedia</div>
        <div id="contentSub"></div>
        <div id="jump-to-nav" class="mw-jump">
            Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a>
        </div>
        <div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
            <table class="metadata plainlinks ambox ambox-content ambox-Unreferenced" role="presentation">
                <tbody>
                    <tr>
                        <td class="mbox-image">
                            <div style="width:52px">
                                <a href="/wiki/File:Question_book-new.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" width="50" height="39" srcset="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/75px-Question_book-new.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/100px-Question_book-new.svg.png 2x" data-file-width="262" data-file-height="204"></a>
                            </div>
                        </td>
                        <td class="mbox-text"><span class="mbox-text-span">This article <b>does not <a href="/wiki/Wikipedia:Citing_sources" title="Wikipedia:Citing sources">cite</a> any <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">references or sources</a></b>. <span class="hide-when-compact">Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Kummari_caste&amp;action=edit">improve this article</a> by <a href="/wiki/Help:Introduction_to_referencing/1" title="Help:Introduction to referencing/1">adding citations to reliable sources</a>. Unsourced material may be challenged and <a href="/wiki/Wikipedia:Verifiability#Burden_of_evidence" title="Wikipedia:Verifiability">removed</a>.</span> <small><i>(January 2014)</i></small></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>The <b>Kummari caste</b> (also known as <a href="/w/index.php?title=Salivahana&amp;action=edit&amp;redlink=1" class="new" title="Salivahana (page does not exist)">Salivahana</a>) comes under BC category. In <a href="/wiki/Andhra_Pradesh" title="Andhra Pradesh">Andhra Pradesh</a>, Salivahana caste is recognized by Govt of India and Govt of AP as per GpO.Ms.No. 28 BCW (M1) Dept., dated 2 1995. It has been used in many Indian inscriptions and in ancient <a href="/wiki/Sanskrit_literature" title="Sanskrit literature">Sanskrit</a> inscriptions in <a href="/wiki/Indochina" title="Indochina" class="mw-redirect">Indochina</a> and <a href="/wiki/Indonesia" title="Indonesia">Indonesia</a>. The reformed calendar promulgated by the Indian government from 1957 is reckoned by this era. It is alleged to have been founded by King Kaniṣka.</p>
            <h2><span class="mw-headline" id="Salivahana_era">Salivahana era</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Kummari_caste&amp;action=edit&amp;section=1" title="Edit section: Salivahana era">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
            <p>The <a href="/wiki/Shalivahana_era" title="Shalivahana era" class="mw-redirect">Shalivahana era</a>, also known as the Saka era, is used with <a href="/wiki/Hindu" title="Hindu">Hindu</a> calendars, the Indian national calendar, the <a href="/wiki/Balinese_saka_calendar" title="Balinese saka calendar">Balinese calendar</a>, the <a href="/wiki/Javanese_calendar" title="Javanese calendar">Javanese calendar</a> and the Cambodian <a href="/wiki/Buddhist_calendar" title="Buddhist calendar">Buddhist calendar</a>. Its year zero begins near the <a href="/wiki/Vernal_equinox_year" title="Vernal equinox year" class="mw-redirect">vernal equinox</a> of the year 78.<sup class="noprint Inline-Template Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources. (May 2014)">citation needed</span></a></i>]</sup></p>
            <p>The Western Kshatrapas (35–405 BC) were Saka rulers of southwestern India (Saurashtra, Malwa modern Gujarat, Southern Sindh, Maharashtra, Rajasthan, parts of Andhra Pradesh and Karnataka). They were successors to the <a href="/wiki/Indo-Scythians" title="Indo-Scythians">Indo-Scythians</a> who invaded <a href="/wiki/Ujjain" title="Ujjain">Ujjain</a> and established the Saka era and calendar, marking the beginning of the Saka Western Satraps kingdom.</p>
            <p>The Satavahana king (Gautamiputra Satakarni was titled as Shalivahana) is credited with the initiation of the era known as Shalivahana Saka to celebrate his victory against the Sakas in the year 78 CE.</p>
            <p>Prior to this, in 56 BCE the Vikrama Samvat era was founded by the emperor Vikramaditya of Ujjain in a similar fashion following his victory over the <a href="/wiki/Sakas" title="Sakas" class="mw-redirect">Sakas</a>.</p>
            <p>Some scholars contend that Saka era was founded by Kushana ruler <a href="/wiki/Kanishka" title="Kanishka">Kanishka</a> to commemorate his victory over Western Kshatrapas. Dating of Kanishka's accession remains contentious.<sup class="noprint Inline-Template Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources. (May 2014)">citation needed</span></a></i>]</sup></p>
            <h2><span class="mw-headline" id="References">References</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Kummari_caste&amp;action=edit&amp;section=2" title="Edit section: References">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
            <div class="reflist references-column-width" style="-moz-column-width: 30em; -webkit-column-width: 30em; column-width: 30em; list-style-type: decimal;"></div>


            <!-- 
NewPP limit report
Parsed by mw1049
Cached time: 20150918031705
Cache expiry: 2592000
Dynamic content: false
CPU time usage: 0.120 seconds
Real time usage: 0.153 seconds
Preprocessor visited node count: 388/1000000
Preprocessor generated node count: 0/1500000
Post‐expand include size: 7800/2097152 bytes
Template argument size: 944/2097152 bytes
Highest expansion depth: 11/40
Expensive parser function count: 2/500
Lua time usage: 0.044/10.000 seconds
Lua memory usage: 1.14 MB/50 MB
Number of Wikibase entities loaded: 0-->

            <!-- 
Transclusion expansion time report (%,ms,calls,template)
100.00%  112.111      1 - -total
 61.81%   69.296      1 - Template:Unsourced
 40.21%   45.084      1 - Template:Ambox
 32.74%   36.707      2 - Template:Cn
 23.74%   26.610      2 - Template:Fix
 18.26%   20.474      4 - Template:Category_handler
  5.70%    6.385      2 - Template:Fix/category
  5.00%    5.606      1 - Template:Reflist
  1.87%    2.102      1 - Template:Column-width
-->

            <!-- Saved in parser cache with key enwiki:pcache:idhash:41312877-0!*!0!!*!4!* and timestamp 20150918031705 and revision id 662285725
 -->
            <noscript>&lt;img src="//en.wikipedia.org/wiki/Special:CentralAutoLogin/start?type=1x1" alt="" title="" width="1" height="1" style="border: none; position: absolute;" /&gt;</noscript>
        </div>
        <div class="printfooter">
            Retrieved from "<a dir="ltr" href="https://en.wikipedia.org/w/index.php?title=Kummari_caste&amp;oldid=662285725">https://en.wikipedia.org/w/index.php?title=Kummari_caste&amp;oldid=662285725</a>" </div>
        <div id="catlinks" class="catlinks">
            <div id="mw-normal-catlinks" class="mw-normal-catlinks"><a href="/wiki/Help:Category" title="Help:Category">Categories</a>:
                <ul>
                    <li><a href="/wiki/Category:Indian_castes" title="Category:Indian castes">Indian castes</a></li>
                </ul>
            </div>
            <div id="mw-hidden-catlinks" class="mw-hidden-catlinks mw-hidden-cats-hidden">Hidden categories:
                <ul>
                    <li><a href="/wiki/Category:Articles_lacking_sources_from_January_2014" title="Category:Articles lacking sources from January 2014">Articles lacking sources from January 2014</a></li>
                    <li><a href="/wiki/Category:All_articles_lacking_sources" title="Category:All articles lacking sources">All articles lacking sources</a></li>
                    <li><a href="/wiki/Category:All_articles_with_unsourced_statements" title="Category:All articles with unsourced statements">All articles with unsourced statements</a></li>
                    <li><a href="/wiki/Category:Articles_with_unsourced_statements_from_May_2014" title="Category:Articles with unsourced statements from May 2014">Articles with unsourced statements from May 2014</a></li>
                </ul>
            </div>
        </div>
        <div class="visualClear"></div>
    </div>
</div>
